* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    padding: 0 30px;
    margin: 0 auto;
}


/* 
header {
    height: 100vh;
    background-color: #6f708e;
}

body {
    overflow-x: hidden;
}

nav {
    background-color: #4e4f70;
    padding: 20px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__icon {
    display: block;
    color: #fff;
    font-weight: 600;
    font-size: 38px;
    line-height: 33px;
}

.navbar__menu {
    display: flex;
    column-gap: 50px;
}

.navbar__menu__item__link {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    transition: 0.3s;
}

.navbar__menu__item__link:hover {
    font-size: 16px;
    border: 2px solid #fff;
    padding: 5px;
}

.navbar__hamburger-bar {
    display: none;
}

.navbar__menus__remove-btn {
    display: none;
}

@media (max-width:922px) {
    nav {
        width: 100%;
        position: fixed;
    }
    .navbar__menus {
        width: 100%;
        height: 90vh;
        position: fixed;
        top: 72px;
        left: 0;
        background-color: #292a39;
        transform: translateX(-100%);
        transition: 0.5s;
    }
    .extra-nav {
        transform: translateX(0);
    }
    .navbar__menu {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
        padding-top: 50px;
    }
    .navbar__menu__item__link {
        color: #fff;
        text-transform: uppercase;
        font-size: 16px;
    }
    .navbar__hamburger-bar {
        display: block;
        transition: 0.3s;
    }
    .navbar__hamburger-bar:hover {
        transform: scale(1.3);
    }
} */


/* .box {
        max-width: 700px;
        text-align: center;
        margin-top: 50px;
        position: relative;
        padding: 30px;
        background-color: #fff;
        border-bottom: 5px solid #0d4a95;
}
.box1 {
        max-width: 500px;
        padding: 30px;
        position: absolute;
        margin: 0 auto;
        text-align: center;
        z-index: -1;
        top: -15px;
        left: 100px;
        background-color: #fff;
        transition: 0.5s;
        opacity: 0;
}
.extra-box {
        position: absolute;
        z-index: 1;
        opacity: 1;
} */


/* .memo {
    width: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
}

button {
    background: none;
    padding: 20px 50px;
    color: greenyellow;
    border: 2px solid greenyellow;
    border-radius: 15px;
    cursor: pointer;
} */


/* .multiple1,
.multiple2 {
    height: 50px;
    margin-top: 100px;
    max-width: 700px;
    border-radius: 5px;
    box-shadow: 0px 0px 27px 8px rgba(0, 0, 0, 0.73);
    -webkit-box-shadow: 0px 0px 27px 8px rgba(0, 0, 0, 0.73);
    -moz-box-shadow: 0px 0px 27px 8px rgba(0, 0, 0, 0.73);
}

.multiple2 {
    margin-top: 0;
    overflow-y: hidden;
}

.extra-multiple1,
.extra-multiple2 {
    height: 100px;
}

.item1,
.item2 {
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4e4f70;
    padding: 15px 25px;
    border-radius: 5px 5px 0 0;
    position: relative;
    z-index: 1;
}

.item2,
.item2__text {
    border-radius: 0 0 5px 5px;
}

.item1__title,
.item2__title {
    color: #fff;
    font-size: large;
}

.item1__arrow,
.item2__arrow {
    transform: rotate(-90deg);
}

.check-arrow1,
.check-arrow2 {
    transform: rotate(0);
}

.item1__text,
.item2__text {
    min-height: 50px;
    background-color: #fff;
    padding: 15px 25px;
} */


/* 33-dars uyga vazifa css */


/* .block,
.block2 {
    padding-top: 50px;
}

.form__title {
    text-align: center;
}

.form__label-box {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    padding-top: 15px;
}

.form__label,
.form-label2 {
    font-size: 18px;
    font-weight: 600;
}

.form__distance {
    padding: 5px;
    border: 1px solid grey;
    margin-left: 15px;
}

.form__calculate {
    padding: 5px;
    background-color: rgb(26, 208, 208);
    border: 1px solid rgb(26, 208, 208);
    color: #fff;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.on-foot,
.on-bicycle,
.on-car,
.on-plane {
    width: 220px;
    height: 160px;
    border: 1px solid grey;
    text-align: center;
    padding: 15px;
}

.icon,
.text,
.n-hours {
    display: block;
}

.text {
    font-size: 17px;
    color: gray;
    margin: 15px 0;
}

.n-hours {
    font-size: 20px;
    font-weight: 600;
}


/* 1.2 */


/* .temperature-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding-top: 20px;
}

.span-temperature {
    font-size: 20px;
    font-weight: 700;
    display: block;
}

.convert-btn {
    font-size: 18px;
    color: #fff;
    padding: 10px 15px;
    background-color: rgb(62, 115, 228);
    border: none;
}

.form__calculate,
.convert-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}  */


/* 34-Dars uyga vazifa */


/* .title-box {
    background-color: grey;
    padding: 15px 0;
    text-align: center;
    font-size: 32px;
}

.contacts-book {
    display: flex;
    justify-content: space-between;
}

.form,
.box {
    display: flex;
    flex-direction: column;
    width: 500px;
    row-gap: 20px;
    padding-top: 20px;
}

.title {
    font-size: 33px;
}

.form__name,
.form__relation,
.form__tel,
.form__btn {
    height: 45px;
    border: 2px solid grey;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
}

.form__btn {
    background-color: rgba(13, 110, 253);
    border: 1px solid rgba(13, 110, 253);
    color: #fff;
}

.contact {
    height: 150px;
    padding: 0 15px;
    border: 1px solid grey;
}

span {
    display: block;
    font-size: 18px;
    margin-top: 10px;
}

span:nth-child(1) {
    font-size: 26px;
}

span:nth-child(2) {
    color: gray;
}

.tel__span {
    color: rgba(13, 110, 253);
    font-size: 20px;
}

.remove__btn {
    padding: 5px 15px;
    background-color: rgba(13, 110, 253);
    color: #fff;
    border: none;
    margin-top: 10px;
    font-size: 18px;
} */